<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="create-task content">
        
        <form action="/tasks/edit/<%= task._id %> " method="POST">
            <label for="title" >Task title</label>
            <input type="text" id="title" name="title" value="<%= task.title %>"required>
            <label for="snippet">Task snippet:</label>
            <input type="text" id="snippet" name="snippet" value="<%= task.snippet%>" required>
            <label for="body">Task body:</label>
            <textarea  id="body" name="body"required><%= task.body %></textarea>
            <label for="startDate">Start Date</label>
            <input type="date" id="startDate" name="startDate"
             value="<%=moment(task.startDate).format("Y-M-D") %>" required>

            <label for="dueDate">Due Date</label>
            <input type="date" id="dueDate" name="dueDate"
             value="<%=moment(task.dueDate).format("Y-M-D") %>"  required>

            <input type="submit" value="Update">
        </form>
        <%- include('./partials/footer.ejs') %>
    </div>
</body>
</html>