<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="tasks content">
        <h2>All Tasks</h2>

        <!--now before we display the array data from our server we want to check if we have data in the array-->
        <% if(tasks.length > 0) { %>
            <% tasks.forEach(task => { %>
               <!--this is to access the id of a single blog so that GET,PUT and DELETE requests can be made.-->
               <div class="single-row"> 
                    <a class="single" href="/tasks/<%= task._id %>">
                        <h3 class="title"><%= task.title %></h3>
                        <p class="snippet"><%= task.snippet %></p>
                        <p class="date">DueDate: <%= moment(task.dueDate).format("ddd, MMMM Do YYYY") %></p>
                        <p class="date">StartDate: <%= moment(task.startDate).format("ddd, MMMM Do YYYY") %></p>
                   </a>
               </div>
               
                
            <% }) %>
        <% } else{ %>
            <p>There are no tasks to display</p>
        <% } %>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>